body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(231, 60, 43);
}

.header {
  text-align: center;
  font-family: 'Monofett', cursive;
  font-size: 25px;
}

h1 {
  margin-top: 0;
}

.wrapper {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.cat-container {
  box-shadow: 5px 5px rgb(141, 237, 19);
  margin: 0 auto 0 5%;
  height: auto;
  max-width: 64%;
}

.cat-image {
  height: 30em;
  max-width: 100%;
  margin-left: auto;
}

.cat-list {
  width: 24%;
  background-color: white;
  margin: 0 0 0 10px;
  height: 484px;
  position: static;
}

.admin-panel {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
}

.admin-panel label {
  margin-left: 10px;
}

.admin-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.text {
  width: 100%;
  margin: 0 10px 0 10px;
}

.buttons {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.count {
  margin-top: 1%;
  text-align: center;
}

.strikes {
  width: 125px;
  top: 50%;
  right: 25%;
}

footer {
  margin: 15px auto;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .cat-list {
    width: 90%;
  }
  .admin-btn {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 500px) {
  .cat-list {
    width: 30%;
    max-width: 300px;
    margin-left: 5vw;
  }
}
